*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background: url(Background.jpg);
    background-size: auto;



    
}
.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.calculator{
    border-color: #ffffff;
    padding:15px;
    border-radius:30px;
    box-shadow: inset 5px 5px 12px  #ffffff,
                5px  5px  12px  rgba(0,0,0,0.14);
    display: grid;
    grid-template-columns: repeat(4,80px);
}
input{
    grid-column: span 4;
    width: 260px;
    height: 70px;
    background-color: #ecf0f3;
    border:none;
    box-shadow: inset -5px -5px 12px  #fff,
               inset  5px  5px  12px  rgba(0,0,0,0.14);
border-radius: 30px;

outline: none;
font-size: 40px;
text-align: end;
margin: 40px auto;
padding: 10px;

}
input::placeholder{
    color: #ffffff;
}

button{
    width: 48px;
    height: 48px;
    background-color:#ecf0f3;

    box-shadow:  -5px -5px 12px  #fff,
                 5px  5px  12px  rgba(0,0,0,0.14);
    border-radius: 50%;
    border:none;
    margin: 8px auto;
    

}
.equal{
    width:115px;
    border-radius: 40px;
    margin: 8px  12px;
    
}